/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap'); */


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  /* Colors */
  --white: #ffffff;
  --blue-1: #ecf5fc;
  --blue-2: #f3f7fa;
  --blue-3: #edf1f4;
  --blue-4: #0676ff;
  --color-bg: #efefef;
  --color-header: #2c2d31;
  --text-color: #020305;
  --text-color-mid: #8f8f8f;
  --text-color-bright: #edeeee;
  --green-1: #d5ebd7;
  --green-2: #3cc688;

  /* Fonts */
  --main-font: 'Montserrat';

  /* Sizes */
  --big: 2rem;
  --mid: 1rem;
  --small: 0.8rem;

  font-family: 'Montserrat', sans-serif;
  font-size: var(--mid);
  font-weight: 100;
}

/* Login */
#login--form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/cube-background.jpeg);
  background-position: center top;
  background-size: cover;
}
.formContainer__background > img {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: 30rem;
}
.formContainer__login {
  max-width: 700px;
  width: 20vw;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formContainer__login > form {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 4rem 2rem 2rem;
}
.formContainer__login > header {
  color: var(--text-color-bright);
  font-weight: 800;
}
.formContainer__login > header > h2 {
  font-size: var(--big);
}
.formContainer__login > header > small {
  font-size: var(--small);
}
.formContainer__login button {
  background-color: var(--green-2);
  color: var(--text-color-bright);
  text-transform: uppercase;
  font-size: var(--small);
  font-weight: 800;
}
.formContainer__login footer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}
.formContainer__login footer img {
  font-size: var(--small);
  width: 5rem;
}