<div id="dashboard--component">
	<div class="container">
		<h4 class="courseTitle"><i class="bi bi-clipboard-data"></i> {{title}} <spinner v-if="isLoading"></spinner></h4>
		<input 
			type="search" 
			placeholder="Buscar curso" 
			v-model="searchQuery"
			class="form-control" 
			style="margin-bottom: 1rem">
		<div class="courseContainer" v-if="!isLoading">
			<div class="alert alert-info" role="alert" v-for="course in resultQuery" v-if="resultQuery.length > 0">
			  <div><i class="bi bi-bookmarks-fill"></i> {{course.name}}</div>
			  <div class="text-right">
			  	<router-link v-bind:to="'/app/courses/' + course.id + '/' + encodeURIComponent(course.name)">Ver curso</router-link>
			  </div>
			</div>
			<div v-if="resultQuery.length == 0">
				<div 
					class="alert alert-primary" 
					role="alert" 
					v-if="error">
				<div>
					<p>{{error}}</p>
				</div>
				<div class="text-right"></div>
				</div>
			</div>
		</div>
	</div>
</div>