<div id="dashboard--component">
	<div class="container">
		<nav class="abas-control">
			<h4
				v-bind:class="aba.name === show ? 'courseTitle selected' : 'courseTitle ' "
				v-for="aba in abas"
				v-on:click="() => setShow(aba.name)"
			>
				<i v-if=aba.hasIcon v-bind:class="aba.class"></i>
				{{aba.name}}
				<spinner v-if="isLoading"></spinner>
			</h4>
		</nav>
		<div class="courseContainer" v-if="!isLoading">
			<div>
				<div class="alert alert-primary" role="alert" v-if="error">
					<div>
						<p>{{error}}</p>
					</div>
					<div class="text-right">
						<button class="btn btn-primary" v-on:click="syncUsuario()" v-bind:disabled="isSync">Sync del
							usuario</button>
					</div>
				</div>
				<div class="alert alert-success" role="alert" v-if="success">
					<div>
						<p>{{success}}</p>
					</div>
				</div>
				<timeline-component v-show="show === 'Dashboard'"></timeline-component>
				<!-- General -->
				<div class="dashboard--resources" v-show="show === 'Evaluaciones'">
					<input type="search" placeholder="Buscar evaluaciones" v-model="searchQuery"
						v-if="success && resultQuery.length > 0" class="form-control" style="margin-bottom: 1rem">
					<div class="courseContainer" v-if="!isLoading"></div>
					<div class="alert alert-primary" role="alert" v-if="success && resultQuery.length > 0"
						v-for="resource in resultQuery">
						<div>
							<p><i class="bi bi-calendar-check-fill"></i> {{resource.name}}</p>
							<p class="smallText"><b>Tech Lead:</b> {{resource.lead}} - {{formatDate(resource.fecha)}}</p>
							<hr>
							<p class="smallText" v-html="resource.observaciones"></p>
						</div>
						<div class="text-right">
							<b>{{resource.total}}%</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>