<div class="row container-fluid" id="login--form" v-bind:style="setting.background ? 'background-image: url('+(api + setting.background)+')' : ''">
	<div class="col-8 formContainer__background" v-bind:style="setting.background ? 'background-image: url('+(api + setting.background)+')' : ''">
		<!-- Add logo -->
		<img v-bind:src="setting.logo ? (api + setting.logo) : 'assets/lexart-cube.png'">
	</div>
	<div class="col-4 formContainer__login">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10 formContainer">
				<img v-bind:src="setting.logo ? (api + setting.logo) : 'assets/lexart-cube.png'" class="only-mob">
				<h2>Cube Platform</h2>
				<small>By Lexart Factory</small>
				<form style="margin-top: 1rem;">
					<input type="email" v-model="usr.email" placeholder="Email" class="form-control">
					<input type="password" v-model="usr.password" placeholder="Clave" class="form-control">
					<button 
						type="button" 
						class="btn btn-black"
						v-bind:disabled="isLoading"
						v-on:click="loginUser">
						<span>{{!isLoading ? 'Login con' : 'Login in'}}</span> <img src="assets/lextracking-logo.svg" alt=""></button>
					<div v-if="error" class="alert alert-danger">
						{{error}}
					</div>
				</form>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>