<div id="courses--component" style="margin-top: 1rem;">
	<h4 class="courseTitle">{{title}}
		<spinner v-if="isLoading"></spinner>
		<button type="button" style="float: right; margin-bottom: 1rem;" class="btn btn-secondary" data-toggle="modal" data-target="#staticBackdrop" v-on:click="newCourse">+ Evaluación</button>
	</h4>
	<input 
		type="search" 
		placeholder="Buscar evaluaciones" 
		v-model="searchQuery"
		class="form-control" 
		style="margin-bottom: 1rem">
	<div class="courseContainer" v-if="!isLoading">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Developer</th>
					<th>Fecha</th>
					<th>Evaluación</th>
					<th>Activo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="course in resultQuery">
					<td>{{course.id}}</td>
					<td>{{course.name}}</td>
					<td>{{course.user.name}}</td>
					<td>{{course.fecha}}</td>
					<td><b>{{course.total}}%</b></td>
					<td>{{course.active == 1 ? 'SI' : 'NO'}}</td>
					<td>
						<button class="btn btn-info" v-on:click="getCourseById(course.id)" data-toggle="modal" data-target="#staticBackdrop">Editar</button>

						<button class="btn btn-danger" disabled style="opacity: 0.3;">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- course / Modal -->
		<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-xl">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="courseTitle" id="staticBackdropLabel">Evaluación {{course.id ? '#' + course.id : ''}}</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
			  <!-- Tabs -->
			  <div class="coursesTab">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" v-bind:class="{active: tabs.general}" v-on:click="activeTab('general')">General</a>
					</li>
					<li class="nav-item" v-for="tab in tabItems" v-if="course.id != 0">
						<a class="nav-link" v-bind:class="{active: tabs[tab.tab]}" v-on:click="activeTab(tab.tab)">{{tab.name}}</a>
					</li>
				</ul>
			  </div>
			  <!-- General -->
		      <div class="modal-body" v-if="tabs.general">
	        	<form>
	        		<div class="row">
	        			<div class="col-3">
		          			<input type="text" placeholder="Descripción" class="form-control" v-model="course.name">
		          		</div>
						<div class="col-3">
							<input type="datetime-local" placeholder="Fecha" class="form-control" v-model="course.fecha">
						</div>
						<div class="col-3">
							<v-select v-model="course.user" label="name" :options="users"></v-select>
						</div>
		          		<div class="col-3">
			          		<select class="form-control" v-model="course.active">
				          		<option value="1">Activo</option>
				          		<option value="0">Inactivo</option>
				          	</select>
			          	</div>
		          	</div>
				</div>

	            <div v-if="error" class="alert alert-danger" style="margin-top: 1rem;">
	            	{{error}}
	            </div>
		      
			  <!-- Clases -->
			  <div class="modal-body" v-if="tabs.clases">
				<div class="row" style="margin-top: 1rem;">
					<!-- Tabla de clases -->
					<div class="col-12">
						<table class="table">
							<thead>
								<tr>
									<th>Tópico</th>
									<th>Puntaje</th>
									<th></th>
								</tr>
							</thead>
							<tbody style="zoom: 0.85;">
								<tr v-for="(item, key) in course.indicadores['desempeño']" :key="key">
									<td>{{item.name}}</td>
									<td>
										<input type="range" min="1" max="5" class="form-control" v-model="item.total">
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			  </div>
			  <!-- Pagos -->
			  <div class="modal-body" v-if="tabs.pagos">
				<div class="row" style="margin-top: 1rem;">
					<!-- Tabla de clases -->
					<div class="col-12">
						<table class="table">
							<thead>
								<tr>
									<th>Tópico</th>
									<th>Puntaje</th>
									<th></th>
								</tr>
							</thead>
							<tbody style="zoom: 0.85;">
								<tr v-for="(item, key) in course.indicadores['factorHumano']" :key="key">
									<td>{{item.name}}</td>
									<td>
										<input type="range" min="1" max="5" class="form-control" v-model="item.total">
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			  </div>

			  <!-- Evaluaciones -->
			  <div class="modal-body" v-if="tabs.evaluaciones">
				<div class="row" style="margin-top: 1rem;">
					<!-- Tabla de clases -->
					<div class="col-12">
						<table class="table">
							<thead>
								<tr>
									<th>Tópico</th>
									<th>Puntaje</th>
									<th></th>
								</tr>
							</thead>
							<tbody style="zoom: 0.85;">
								<tr v-for="(item, key) in course.indicadores['habilidades']" :key="key">
									<td>{{item.name}}</td>
									<td>
										<input type="range" min="1" max="5" class="form-control" v-model="item.total">
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		        <button type="button" class="btn btn-success" v-on:click="upsertCourse">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- User / Asitencias -->
		<div class="modal fade" id="asistenciasBackdrop" data-backdrop="static" data-keyboard="false" tabindex="0" aria-labelledby="asistenciasBackdrop" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h4 class="courseTitle" id="staticBackdropLabel">{{claseAsiste.topico}}</h4>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body" v-if="claseIsSelected">
					<table class="table">
						<thead>
							<tr>
								<th>Alumnos</th>
								<th>Asiste</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, key) in course.clases[claseSelected].users">
								<td>{{item.name}}</td>
								<td>
									<input type="checkbox" v-model="item.asiste">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-success" v-on:click="confiraAsisteClase()">Confirmar</button>
				</div>
			  </div>
			</div>
		</div>

		<!-- User / Pagos -->
		<div class="modal fade" id="pagosBackdrop" data-backdrop="static" data-keyboard="false" tabindex="0" aria-labelledby="pagosBackdrop" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h4 class="courseTitle" id="staticBackdropLabel">{{pagoAsiste.concepto}}</h4>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body" v-if="pagoIsSelected">
					<table class="table">
						<thead>
							<tr>
								<th>Alumnos</th>
								<th>Cobrar</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, key) in course.pagos[pagoSelected].users">
								<td>{{item.name}}</td>
								<td>
									<input type="checkbox" v-model="item.pagar">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-success" v-on:click="confiraPagoClase()">Confirmar</button>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>