<div id="menu--component" class="navbar navbar-dark bg-dark">
	<div class="row">
		<img v-if="setting.logo" v-bind:src="setting.logo ? (api + setting.logo) : ''" width="32" class="brand--logo">
		<router-link to="/app/dashboard" class="nav-link">Dashboard</router-link>
		<router-link v-if="isAdmin" to="/app/administration/users" class="nav-link">Administración</router-link>
		<router-link v-bind:to="setting.token ? '/'+setting.token : '/'" class="nav-link">
			<small>Cerrar sesión</small>
		</router-link>
		<!-- BRAND -->
		<a v-bind:href="setting.web" class="nav-link" target="_new"> <small>{{setting.escuela}}</small></a>
	</div>
</div>